<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_biblioteca_root" 
                  name="Biblioteca" 
                  sequence="10"/>

        <menuitem id="menu_biblioteca_libros" 
                  name="Libros" 
                  parent="menu_biblioteca_root" 
                  action="action_biblioteca_libro" 
                  sequence="10"/>

        <menuitem id="menu_biblioteca_prestamos" 
                  name="Préstamos" 
                  parent="menu_biblioteca_root" 
                  action="action_biblioteca_prestamo" 
                  sequence="20"/>

        <menuitem id="menu_biblioteca_autores" 
                  name="Autores" 
                  parent="menu_biblioteca_root" 
                  action="action_biblioteca_autor" 
                  sequence="30"/>
    </data>
</odoo>